@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Cardo);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	color:#666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;
    padding-top: 50px;
}


/* responsive text queries */
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    .logo h1 {
        font-size:35px;
    }
    .logo p {
        font-size:20px;
    }
    
}

@media screen and (max-width: 990px) {
    .menu-footer{
        text-align:center; 
    }       
    
    .border_right{
        border-left:0px !important;
        padding:0px;
    }
    
    .copyright {
        text-align:center;
        margin-top:10px;
    }
}

/* general  */
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both;}
/*.wrapper12{ width:100%; max-width:1200px; margin:0 20px 0 20px; }*/
.wrapper12{ margin:0 20px 0 20px; padding:0 20px 0 20px; }
.wrapper960{ text-align:left; margin:0 auto; width: 100%; max-width:960px; position:relative;}
.w276{ max-width:276px;}

.head-bg{ background:#eaeaea;}
.head-img{ background:url(../images/header-bg.png) no-repeat top center ; min-height:574px; }
.menu_bg{ background:url(../images/menu_bg.jpg)  no-repeat top center ; min-height:61px;}
#access{}
#access ul{ padding-top:14px;}
#access ul li{ list-style:none; float:left; line-height:35px; margin-right:35px;}
#access ul li a{ text-decoration:none; color:#5b5042; text-transform:uppercase; font-size:14px; font-family: 'Lato', sans-serif; padding:14px 0px;}
#access ul li a:hover{ border-bottom:solid 6px #fff; color:#621f35;}


/* =Menu
-------------------------------------------------------------- */

#access ul ul {
	background:#d7f0ec;	
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	margin-top:-10px;
	width: 188px;
	z-index: 99999;
	padding-top:0px;
}
#access ul ul li{
	line-height:30px;
	width:188px;
	border-bottom:solid 1px #5b5042;
	margin-right:0px;
}

#access ul ul ul {
	left: 100%;
	margin-top:-37px;
}
#access ul ul a {
	display:block;	
	color:#5b5042;
	font-size: 12px;
	font-weight: normal;
	height: auto;
	line-height: 1.4em;
	padding: 10px 10px;
	width: 168px;
	font-family: 'Lato', sans-serif;
	border-bottom:none;
}
#access ul ul a:hover{ border-bottom:none;}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	
}
#access li:hover > a,
#access a:focus {

}
#access ul li:hover > ul {
	display: block;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
	 border-bottom:solid 6px #fff; color:#621f35;
}
#access .current-menu-item >  ul a,
#access .current-menu-ancestor > ul a,
#access .current_page_item > ul a,
#access .current_page_ancestor > ul a {
	 border-bottom:none;
}

.slider_content{ position:absolute; z-index:99; width:495px; margin-top:95px;}
.slider_content h1{width:490px; font-family: 'Cardo', serif; font-size:50px; text-transform:uppercase; background:url(../images/h_border.png) no-repeat bottom left; color:#423751; line-height:63px; margin-bottom:20px; font-weight:lighter;}
.slider_content p{ color:#515151; font-family: 'Lato', sans-serif; font-size:16px; padding-bottom:12px;}

.slider_bg{background:url(../images/header-bg.png)  no-repeat top center ; height:513px; position:relative; }
.slider_bg .slider{ right:-32px; position:relative;}
.slider_bg .slider img{ position:absolute; right:0;}
.carousel_slider{ position:absolute; z-index:999; width:565px; top:290px;}
.carousel_slider label{color: rgb(66, 55, 81);display: block;font-family: 'Lato',sans-serif; font-size: 22px;    margin-top: 10px;   text-align: center;}
.content_main{ background:url(../images/content_main.png) no-repeat top center #fff;}
.content_wrapper{ background:url(../images/content_bg.png) repeat; position:relative; box-shadow: 0 10px 10px -12px #222}


.content{ width:665px; margin:0 auto; float:left;}

.w385{ width:385px;}
.homecotent{ margin-top:50px; border-bottom:solid 1px #e5e5e5; width:618px; padding-bottom:15px;font-size: 18px;
text-align: justify;}
.homecotent .featureimg{ margin:10px;}
.homecotent .hometxt h1{ color:#621f35; text-transform:uppercase;  font-family: 'Lato', sans-serif; font-size:18px; line-height:33px;}
.homecotent .hometxt{ margin-left:20px;}
.homecotent .hometxt p{ font-family:Arial, Helvetica, sans-serif; color:#666666; line-height:24px; padding-bottom:20px; padding-top:10px;}
.homecotent .readmore a{ color:#621f35; font-size:14px; font-family:Arial, Helvetica, sans-serif; margin-top:20px; display:block; text-decoration:none;}
.border_right{ border-left:solid 1px #e5e5e5; padding-left:16px; padding-bottom:40px;}

.carousel_bottom{ margin-top:5px;}
.carousel_bottom h1{ font-size:18px; color:#621f35; font-family: 'Lato', sans-serif; line-height:60px; text-transform:uppercase;}
.entry-content h2, .entry-content h3{
	padding: 15px 0;
}
.footer-home{ 
	margin-top: 30px;
	width: 100%;
	background: #dfe5e5;
	padding: 12px 0 5px 0;
}
.footer-content{
	display: block;
    max-width: 1200px;
	margin: 0 auto;
}
.addy div{
	float: right;
	display: inline-block;
	margin-right: 5px;
}
.addy span{ margin-right: 5px; }
.addy { float: right; display: inline-block;}
span.year{ float:right; display: inline-block; margin-right: 5px;}

.menu-footer{} 
.menu-footer ul{ }
.menu-footer ul li{ list-style:none; float:left; line-height:12px; padding-bottom:3px;}
.menu-footer ul li+li{ border-left:solid 1px #621f35;}
.menu-footer ul li a{ text-decoration:none; color:#621f35; font-size:12px; padding:0px 8px;}
.copyright{text-align:right; color:#595d51; font-size:12px;}

.sidebar{ max-width:294px; float:right; padding-top:49px;}

.appointment, .patient{ background:#b35b7d; opacity:1; padding:10px 0; margin-right:10px; margin-bottom:10px;}
.appointment h1, .patient h1 a{ font-family: 'Lato', sans-serif; font-size:18px; color:#fff; line-height:25px; text-transform:uppercase; margin-left:12px; text-decoration:none;}
.appointment label{ color:#591d34;  font-family: 'Lato', sans-serif; font-size:18px; margin-left:12px; display:block;}
.question, .beforeafter{background:#978ba9; opacity:1; padding:10px 0; margin-right:10px; margin-bottom:10px;}
.question h1 ,.beforeafter h1 a{ font-family: 'Lato', sans-serif; font-size:18px; color:#fff; line-height:25px; text-transform:uppercase; margin-left:12px; text-decoration:none;}
.bx-controls { display:none;}


/*................................subpages..........................................*/
.sub_menu_bg{ background:url(../images/sub_menu_bg.jpg)  no-repeat top center ; height:61px;}
.banner_bg{ background:url(../images/banner_bg.jpg) no-repeat top center; min-height:223px; border-bottom:solid 1px #fff;}

.logo{ position:absolute; z-index:99; max-width:576px;}
.logo h1{font-family: 'Cardo', serif; font-size:56px; text-transform:uppercase; background:url(../images/h_border.png) no-repeat bottom left; color:#423751; line-height:63px; margin-bottom:20px; font-weight:lighter;}
.logo p{ color: rgb(98, 31, 53); font-family: 'Lato',sans-serif; font-size: 30px; margin: auto; line-height: 37px; padding-bottom: 12px; text-align: center; width: 347px;}

.content_sub_main{ background:url(../images/content_sub_main.jpg) no-repeat top center #fff;}


.entry-header h1{font-family: 'Lato', sans-serif; font-size:24px; line-height:40px; color:#621f35;}
.content article{ padding:25px 10px;}
.content .entry-content p{ color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:14px; padding-bottom:10px; line-height:21px; text-align:justify;}
.entry-content ul { margin:10px 0px 15px 0px; }
.entry-content ul li{ margin-left:10px; background:url(../images/li_bg.png) no-repeat left top ; background-position:0px 7px;  list-style: none outside none; padding-left: 20px; color:#666; font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:23px;}
.w380{ width:380px;}
.w240{ width:240px;}
.contactnumber{ text-align:center; font-size:12px; margin-bottom:10px;}

.form{ margin-left:30px; margin-bottom: 20px;}
.form input[type="text"], .form input[type="email"]{ color:#999; width:200px; font-family: Arial; padding:3px;}
.form textarea{color:#999; font-family: Arial; padding:3px; width: 200px; height: 100px;}
.form label{  display:block; }
.form label span{ color:#b35b7d; font-size:12px; display:inline-block; margin-right:55px; }
.form label  input[type="submit"]{ background:#911f4b; border:none; padding: 5px 10px; color:#fff; text-transform:uppercase; cursor:pointer;}
.beforeaftercontent{ width:395px; margin:auto; margin-top:30px;}
.beforeaftercontent h3{ margin-left:15px}
.w170{ width:180px;}
.before{ margin:0 5px; margin-bottom:30px;}
.before img { width:180px; border:solid 3px #b35b7d;}
.before label{ text-align:center; display:block;}
#ivycat-testimonial{ margin-bottom:20px; padding-bottom:20px; border-bottom:solid 1px #999;}
.entry-content a{ color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:14px;  }
.entry-content img{ border: 1px solid #ddd;}
.alignleft{ float:left;}
.alignright{ float:right;}
.media{ padding:10px 0 30px 0;}
.media li{ list-style:none;}
.footer-cite{
	float: left;
	margin-top: -7px;
}
.media li a{ display:inline-block; width:200px; text-decoration:none;}
.entry-header{
	margin-bottom: 15px;
}
.ngg-galleryoverview img { margin:0px; padding:0px;}

.beforeaftercontent img{ padding:0px; width: 165px; height: auto;}

.callout{
	display:block;
	/*width: 520px;*/
	clear:both;
	margin: 15px auto 15px auto;
	background: #fafafa;
	color: #999;
	-webkit-box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.entry-content ul{
	margin-left: 40px;
	margin-bottom: 25px;
}
.bxslider li img{ border-width: 0; }
.entry-content img.alignright{ margin: 10px 0 15px 15px; }
.entry-content img.alignleft{ margin: 10px 15px 15px 0; }
.entry-content img.aligncenter { margin: 10px 0 10px 0; }

a{ color: #444; }

.page-id-344 .entry-content img { border: 0 !important; }
.breakline{
	color: #ddd;
	background-color: #ddd;
	height: 1px;
	border: 0;
	width: 90%;
	margin:25px auto;
}
.home .bxslider li img{
	background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
    zoom: 1;
}